<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buslinesapp">
    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.UserActivity" />
        <activity android:name=".view.activity.CollectActivity" />
        <activity android:name=".view.activity.WebviewActivity" />
        <activity android:name=".view.activity.WelcomeActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.HelpActivity" />
        <activity android:name=".view.activity.PraiseActivity"/>
        <activity android:name=".view.activity.AboutActivity"/>
        <activity android:name=".view.activity.PrivateOneActivity"/>
        <activity android:name=".view.activity.PrivateTwoActivity"/>
        <activity android:name=".view.activity.HelpOneActivity"/>
        <activity android:name=".view.activity.HelpTwoActivity"/>
        <activity android:name=".view.activity.HelpThreeActivity"/>
        <activity android:name=".view.activity.HelpFourActivity"/>
    </application>

</manifest>